.index-spinner-container { 
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding: 75px 0px 0px 0px;
}

.container { 
    display: flex;
    justify-content: center;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
}

.imaginations-index { 
    display: flex;
    width: 91%;
    min-width: 700px;
    height: fit-content;
    margin-top: 25px;
    justify-content: center;
    flex-flow: row wrap;
}

.imagination-index-item { /* */
    list-style: none;
    margin: 5px;
    height: 300px;
    width: fit-content;
    position: relative;
}

.imagination-index-item img {
    height: 100%; 
    width: auto;
    border-radius: 5px;
}

.hover-overlay { 
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    pointer-events: none;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.753));
    transition: opacity 150ms linear;
    opacity: 0;
    border-radius: 5px;
}

.imagination-index-item:hover .hover-overlay { 
    opacity: 1;
}

.index-item-title { /* Figure out how to do the gradient thing */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
}

.index-item-username { 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    margin-top: 10px;
}

/* I put media queries at the bottom because it overwrites what's above it */
@media all and (max-width: 768px) { 
    .imagination-index-item { 
        height: 240px;
    }
}

@media all and (max-width: 480px) { 
    .imaginations-index { 
        margin-top: 70px;
        min-width: 0px;
    }

    .imagination-index-item { 
        width: 100%;
        height: auto;
    }

    .imagination-index-item img { 
        width: 100%;
        height: auto;
    }

    .hover-overlay { 
        width: 100%;
        height: 100%;
    }
}