.container { 
    display: flex;
    justify-content: center;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
}

.imaginations-index { 
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    min-width: 700px;
    height: fit-content;
    margin-top: 25px;
    justify-content: center;
}

.imagination-index-item { 
    /* background-color: rgb(173, 167, 255); */
    list-style: none;
    margin: 5px;
    height: 300px;
    /* width: 300px; */
    width: fit-content;
    position: relative;
}

.imagination-index-item img {
    height: 100%; 
    width: auto;
}

.hover-overlay { 
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    pointer-events: none;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.753));
    transition-duration: opacity 1s linear;
    /* background: transparent; */
    opacity: 0;
}

.imagination-index-item:hover .hover-overlay { 
    /* display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white; */
    /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.753)); */
    opacity: 1;
}

.index-item-title { /* Figure out how to do the gradient thing */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
}

.index-item-username { 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    margin-top: 15px;
}