.profile-page { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 100px;
    font-size: 16px;
}

.profile-head-info {
    width: 91%;
    align-self: center;
    margin-top: 40px;
}

.profile-head-pic-and-name { 
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.profile-page-avatar { 
    width: 100px;
    height: 100px;
}

.profile-page-no-avatar { 
    width: 100px;
    height: 100px;
    background-color: #4d4dff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 32px;
}

.profile-head-info h1 { 
    font-size: 48px;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    height: fit-content;
    align-self: center;
    margin-left: 20px;
}

.edit-profile-button { 
    border-radius: 25px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 15px 0px #4d4dffd1;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.22;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4d4dff;
    height: 44px;
    width: 125px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.edit-profile-button:hover { 
    color: #4d4dff8a;
    box-shadow: none;
}

.profile-head-info p { 
    font-size: 16px;
    font-family: 'Baloo Tamma 2', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.profile-imaginations { 
    display: flex; 
    justify-content: center;
}

/******************************************************************************/

/* Modal CSS */

.modal { 
    width: 860px;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: relative;
    background-color: white;
    outline: none;
}

.modal-overlay { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 7, 13, 0.78);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-div { /* This CSS only applies to the button. The modal only has styling from the classes that I put on it */
    height: fit-content;
    align-self: center;
    position: absolute;
    right: 20px;
}

.modal-x { 
    position: absolute;
    font-size: 30px;
    right: 20px;
    top: 10px;
    height: fit-content;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.modal-title { 
    padding: 40px 40px 0px 40px;
    font-size: 40px;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    letter-spacing: 0.35px;
}

.profile-pic-preview { 
    height: 300px;
    width: 300px;
}

.modal-form { 
    width: 860px;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 0;
    position: relative;
}

.edit-section-of-profile { 
    display: flex;
    padding: 40px;
}

.profile-pic-upload { 
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-bio { 
    background-color: #f9fafb;
    border: none;
    resize: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px 0px 0px 30px;
    font-size: 16px;
}

.profile-form-buttons { 
    width: 100%;
    border-top: 1px solid #06070d;
    display: flex;
    justify-content: flex-end;
    padding: 15px 40px;
}

.modal-update { 
    outline: none;
    background: #4d4dff;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 12px;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    letter-spacing: 0.25px;
    cursor: pointer;
}

.modal-cancel { 
    outline: none;
    background: none;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 12px;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    letter-spacing: 0.25px;
    cursor: pointer;
}

.modal-cancel:hover { 
    color: #4d4dff;
}

@media only screen and (max-width: 480px) { 
    .profile-page { 
        padding-top: 54px;
        font-size: 16px;
    }

    .profile-head-pic-and-name {
        flex-direction: column;
        align-items: center;
    }

    .profile-head-info h1 {
        text-align: center;
        margin-left: 0;
        font-size: 3em;
        margin: 16px;
        overflow-wrap: anywhere;
    }

    .profile-head-info p {
        text-align: center;
        font-size: 1em;
        margin: 1em 0;
    }

    .modal-div { 
        position: relative;
        right: 0;
    }

    .modal { 
        width: 100vw;
        height: 100vh;
        max-height: none;
        overflow-y: scroll;
    }

    .modal-title { 
        text-align: center;
    }

    .modal-form { 
        width: 100vw;
        max-height: none;
    }

    .edit-section-of-profile { 
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        padding-top: 12px;
    }

    .edit-profile-button { 
        margin-bottom: 12px;
    }

    .modal-bio { 
        width: auto;
        margin-top: 1em;
        flex-grow: 1;
        margin: 0;
    }

    .profile-form-buttons { 
        justify-content: space-around;
    }
}